html {
    margin: 20px 50px;
    font-family: "Open Sans", sans-serif;
}

p {
    width: 1000px;
    border: 1px solid black;
    padding: 10px;
    border-color: rgb(116, 116, 245);
    border-width: 10px;
    border-style: solid;
  }

.head {
    background-color: rgb(130, 130, 245);
    background: linear-gradient(90deg, rgb(100, 110, 245),white);
    transform: skewX(-20deg);
    box-shadow: 0 13px 30px rgb(180, 177, 9);
}


img {
    width: 280px;
    height: 280px;
    margin: 20px;
    border-radius: 50%;
    border-style:solid;
    border-width: 20px;
    border-color: rgb(116, 116, 245);
}

img:hover {
    border-color:rgb(95, 80, 245);
    box-shadow: 0 10px 30px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    opacity: 0.8;
}

p:hover {
    box-shadow: 0 10px 30px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-color:rgb(95, 80, 245);
    font-style: italic;
}

h1 {
    margin:10px 20px;
    font-size: 25px;
}
