html {
    margin: 0px 50px;
    font-family: "Open Sans", sans-serif;
    background: linear-gradient(pink,rgb(243, 227, 227));
    height: 100%;
}

p {
    width: 1000px;
    border: 1px solid black;
    padding: 20px;
    border-color: rgb(240, 133, 195);
    border-width: 10px;
    border-style: solid;
    display:flex;
  }

.head {
    background: rgb(240, 133, 195);
    transform: skewX(-20deg);
    box-shadow: 0 13px 30px  rgb(255, 133, 195);
    display:flex;
}

.head:hover {
    box-shadow: 0 10px 30px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    opacity: 0.8;
}

p:hover {
    box-shadow: 0 10px 30px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-color:rgb(255, 133, 195);
    opacity: 0.8;
}

h1 {
    margin:10px 10px;
    font-size: 25px;
}

#links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 20px;
}

#pic {
    width: 200px;
    height: 250px;
    border-radius: 20px;
}

#twpic {
    width:30px;
    height: 30px;
}

#wikpic {
    width:30px;
    height: 30px;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bold;
}